.main-header {
    height: 50px;
    background: #126577;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
}

.main-header-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.header-btn {
    outline: none;
    background: #ffffff;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
}

.header-btn:hover {
    background: #B0E0E6;
}

.todo-nmbr {
    font-size: 18px;
    color: antiquewhite;
}

input, .header-btn {
    margin: auto 0.5em;
}

input:nth-child(3) {
    margin: 0 0;
}

