
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background: #def3ff;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  width: 100%;
  margin-top: 100px;


  button {
    margin-left: 1em;
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }

  .del-selected {
    background-color: cornflowerblue;
    margin-left: 2em;
  }

  > div:nth-child(1) {
    input:nth-child(2) {
      margin-right: 1em;
    }
  }

  ul li {
    input {
      margin-right: 1em;
    }

    button {
      margin-left: 1em;
      background-color: #fe503c;
    }
  }

  h1 {
    margin-bottom: 0.5em;
  }
}

.page_numbers button {
  color: black;
  font-size: 12px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-bottom: 3em;

}

